body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.car {
  width: 800px;
  height: 250px;
  position: relative;
  transition: transform 1s ease-in-out;
}

button {
  margin: 10px;
}
